
#fixedheader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
}


#headcolor {
  width: 100%;
  background-color: grey;
}


#footheader {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}


#footcolor {
  width: 100%;
  background-color: grey;
}
