
#fixedheader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;

}


#stroudcrafts {
  font-size: 40px;
  color: #00a992;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#headcolor {
    background-color: white;
  width: 100%;
  display: inline-block;
}

#content {
    padding-top: 200px;
    color: white;
}

#cotswolds {
    margin: auto;
    height:150px;
    width: 150px;
    background-color: red;
}

#fixedfooter {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}


#footcolor {
     background-color: white;
  width: 100%;
color: #2666ba;
  display: inline-block;
  height: 50px;
  font-size: 14px;
  padding-bottom: 15px;
}
